@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 hover:underline;
    }
}

blockquote p {
    @apply inline mx-2 !font-semibold;
}

svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

html {
    font-family: "'Aleo', serif";
}
