{{template "base" . }}
{{define "content"}}
    <main class="h-[80vh] flex flex-col items-center justify-center">
        <h1 class="text-4xl text-primary">blog Page</h1>
        <p>Name: {{ .Name }}</p>
        <p>Blog: {{ .Blog }}</p>
        <p>Id: {{ .Id }}</p>
        <p>AvatarUrl: </p>
        <img src="{{ .AvatarUrl }}" width="200px" height="100px" alt="{{ .Name }}" />
    </main>
{{ end }}

{{ define "scripts" }}
    <script>
        console.log("from the blog page hello world")
    </script>
{{ end }}
