{{template "base" .}}

{{define "content" }}
<section class="h-screen relative bg-cover bg-center bg-[url('/static/hero.jpg')] flex items-center justify-center">

    <div class="flex flex-col justify-center items-center h-full w-full place-self-center p-4">
        <h1
            class="mb-4 max-w-2xl text-center text-4xl font-extrabold text-secondary leading-none md:text-5xl xl:text-6xl">
            Welcome to NexusNarrative</h1>
        <p class="mb-6 max-w-2xl text-center text-secondary lg:mb-8 md:text-lg lg:text-xl">Explore a world of
            engaging blog posts covering diverse topics such as technology, lifestyle, travel, and health. At
            NexusNarrative, we curate informative and inspirational content to keep you informed and inspired. Join us
            on a journey of discovery and enrich your online experience with our thought-provoking narratives.</p>

        <div class="flex flex-row gap-2">
            <a href="/auth/sing-up"
                class="flex flex-row shadow-md justify-center items-center py-3 px-5 text-base font-semibold text-center text-secondary rounded-lg border border-secondary hover:bg-gray-300">
            <p>Get started</p>
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
            </svg>
            </a>
        </div>
    </div>

</section>
{{end}}

{{ define "head" }}
    <title>Explore Engaging Blog Posts on Technology, Lifestyle, Travel, and Health | NexusNarrative</title>
    <meta name="description" content="Explore engaging blog posts on technology, lifestyle, travel, and health. Stay informed and inspired with NexusNarrative." />
{{end}}
