{{define "header"}}
<header
    class="flex h-[10vh] flex-row fixed top-0 w-full z-[11] justify-between items-center text-secondary bg-normal p-2 shadow-lg">
    <div class="flex flex-row gap-2 justify-between sm:justify-normal w-full sm:w-auto">
        <a href="/" class="flex flex-row justify-center items-center">
            <img src="/static/logo.svg" alt="NexusNarrative" title="NexusNarrative" width="45" height="45" />
        </a>

        {{template "header-modal" .}}

        <div class="sm:flex hidden">
            {{if . }}
            <form action="api/auth/logout" method="delete">
                <button
                    class="w-fit h-fit place-self-center text-secondary p-1 border border-secondary hover:shadow-md bg-normal transition-all ease-in-out rounded-md text-lg flex-row flex gap-1 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg>
                    <p>logout</p>
                </button>
            </form>
            {{ else }}
            <a href="/auth/login"
                class="w-fit h-fit place-self-center text-secondary p-1 border border-secondary hover:shadow-md bg-normal transition-all ease-in-out rounded-md text-lg flex-row flex gap-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z">
                    </path>
                </svg>
                <p>login</p>
            </a>
            {{ end }}
        </div>

    </div>
    <div class="sm:flex hidden flex-row justify-center gap-4 items-center">

        <form class="max-w-[400px]" action="/search" method="GET">
            <label for="search">search</label>
            <input placeholder="Search.." name="search" id="search" class="p-1" />
        </form>
        <button class="flex dark:text-secondary w-auto h-auto p-1 dark:hover:bg-slate-800 hover:bg-slate-200 justify-center cursor-pointer items-center rounded-md text-primary font-bold text-2xl">
        {{template "theme"}}
        </button>
        {{if .}}
        <a href="/{{ .Blog }}" title="your profile">
            <div class="flex justify-center items-center">
                <img class="rounded-full shadow-md object-cover" width="32" height="32" src="{{ .AvatarUrl }}"
                    alt="{{ .Name }}" />
            </div>
        </a>
        {{end}}
    </div>
</header>
{{ end }}
