html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: aliceblue;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.link {
  @apply text-blue-600 hover:text-blue-500 cursor-pointer underline
}

.underLine {
  @apply after:content-[""] flex-col flex after:w-full after:h-[2px] after:rounded-lg after:bg-blue-600
}


.button-type-underline {
  @apply hidden !important
}

.make-width-fit {
  width: -webkit-fill-available !important;
}

.custom-html-style > h5 {
  @apply text-sm
}

.custom-html-style > table {
  @apply block my-10 min-w-full border-0 !important;
}

.custom-html-style > h6 {
  @apply text-xs
}

.custom-html-style > p > img {
  @apply my-6
}

.custom-html-style > ol {
  list-style-type: decimal !important;
}


.custom-html-style > ol > li {
  display: list-item !important;
  text-align: -webkit-match-parent !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(48, 95, 248);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}


@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
