.markdown h1 {
    font-size: 2em !important;
    margin: 0.67em 0 !important;
}

.markdown h2 {
    font-size: 1.75em !important;
    margin: 0.55em 0 !important;
}

.markdown h3 {
    font-size: 1.50em !important;
    margin: 0.50em 0 !important;
}

.markdown h4 {
    font-size: 1.25em !important;
    margin: 0.40em 0 !important;
}

.markdown h5 {
    font-size: 1em !important;
    margin: 0.30em 0 !important;
}

.markdown h6 {
    font-size: 0.75em !important;
    margin: 0.20em 0 !important;
}


.markdown hr {
    box-sizing: content-box !important;
    height: 0 !important;
    overflow: visible !important;
}


.markdown pre {
    font-family: monospace, monospace !important;
    font-size: 1em !important;
}


.markdown a {
    background-color: transparent !important;
}



.markdown b,
.markdown strong {
    font-weight: bolder !important;
}


.markdown img {
    border-style: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.markdown em {
    font-weight: 200 !important;
    color: rgb(85, 84, 84) !important;
}

.markdown ul {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    list-style: disc outside none !important;
}

.markdown ul li {
    margin-left: 2em !important;
    display: list-item !important;
    text-align: -webkit-match-parent !important;
}